* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-inline: 1rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe9e6;
}
